*.iml
.gradle/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.agent/
.vscode/
资料/
小米超级岛反编译相关/
app/build/
app/release/
app/offline/
app/src/androidTest
app/src/test